@media screen and(min-width: 1366px) {
	.house {
		margin-top: size(40);
		padding-top: size(90);
		padding-bottom: size(160);
		position: relative;
		&::before,
		&::after {
			content: '';
			position: absolute;
			right: size(75);
			left: 0;
			height: size(10);
			background: #EFEFEF;;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		&__chapter {
			padding: size(10) size(41) size(10) 0;
			background: #F2F2F2;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: size(-165);
				width: size(165);
				height: 100%;
				background: #F2F2F2;
			}
		}
		&__all {
			margin-left: size(40);
		}
		&__list {
			margin-top: size(45);
		}
	}
	.features {
		margin-top: size(222);
	}
	.footer {
		margin-top: size(105);
	}
}