.barkli {
	margin-top: size(15);
	&__page {
		margin-top: size(27);
	}
	&__title {
		margin-top: size(27);
		margin-bottom: size(15);
	}
	&__text {
		font-size: size(11);
		line-height: size(13);
	}
	&__info {
		padding: 0 size(10);
		letter-spacing: 0.07rem;
	}
}

@media screen and(min-width: 700px) {
	.barkli {
		&__page {
			width: 100%;
		}
	}
}

@media screen and(min-width: 768px) {
	.barkli {
		&__house {
			display: flex;
			align-items: flex-start;
		}
		.mansion {
			&__img {
				min-width: size(430);
				width: size(430);
			}
			&__info {
				width: calc(100% - 26.875rem);
				min-height: size(407);
			}
		}
	}
}

@media screen and(min-width: 1200px) {
	.barkli {
		.mansion {
			&__img {
				min-width: size(600);
				width: size(600);
			}
			&__info {
				width: calc(100% - 37.5rem);
				min-height: size(429);
				padding: size(30);
			}
		}
	}
}

@media screen and(min-width: 1366px) {
	.barkli {
		margin-top: size(50);
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-right: size(75);
		&__info {
			padding: 0;
		}
		&__title {
			margin-top: size(50);
			margin-bottom: size(30);
			padding: 0;
			letter-spacing: 0.19rem;
		}
		&__text {
			font-size: size(14);
			line-height: size(20);
		}
		&__page {
			width: calc(100% - 31.25rem);
			margin-top: 0;
		}
		&__house {
			flex-direction: column;
			margin-bottom: size(20);
		}
		.mansion {
			&__kind {
				margin-top: size(35);
			}
			&__info {
				width: 100%;
				min-height: size(350);
			}
			&__link {
				width: size(314);
				min-width: size(314);
			}
			&__img {
				width: 100%;
				max-width: 100%;
			}
			&__house {
				&-wrapper {
					margin-top: size(45);
				}
			}
		}
	}
}

@media screen and(min-width: 1600px) {
	.barkli {
		&__house {
			flex-direction: row;
		}
		.mansion {
			&__img {
				min-width: size(500);
				width: size(500);
			}
			&__info {
				width: calc(100% - 31.25rem);
				min-height: size(357);
			}
		}
	}
}

@media screen and(min-width: 1920px) {
	.barkli {
		&__title {
			font-size: size(30);
			line-height: size(39);
		}
		&__page {
			width: calc(100% - 36.25rem);
		}
		&__text {
			font-size: size(18);
			line-height: size(26);
			letter-spacing: 0.12rem;
		}
		.mansion {
			&__img {
				min-width: size(600);
				width: size(600);
				height: size(429);
			}
			&__info {
				width: calc(100% - 37.5rem);
				min-height: size(429);
				height: size(429);
				padding: size(45) size(26) size(32) size(43);
			}
			&__price {
				margin-top: size(6); 
			}
			&__link {
				display: none;
			}
		}
	}
}