.breadcrumbs {
	margin-top: size(57);
	font-size: size(10);
	line-height: size(10);
	letter-spacing: 0.1rem;
	color: #8D8D8D;
	&-article {
		margin-top: size(57);
	}
	&__list {
		display: flex;
		overflow-x: scroll;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
		&::-webkit-scrollbar { 
			width: 0; height: 0; 
		}
	}
	&__item {
		padding-right: size(14);
		margin-right: size(14);
		position: relative;
		white-space: nowrap;
		&::after {
			content: '/';
			position: absolute;
			right: size(-1);
			font-size: size(14);
		}
		&:last-child::after {
			display: none;
		}
	}
	&__link {
		&:hover,
		&:active {
			color: #000;
		}
		&--active {
			color: #000
		}
	}
}

@media screen and(min-width: 1366px) {
	.breadcrumbs {
		margin-top: size(50); 
		font-size: size(12);
		line-height: size(15);
	}
}