.catalog {
	margin-top: size(52);
	letter-spacing: 0.08rem;
	&__img {
		height: size(150);
		background: #F2F2F2;
		position: relative;
		img {
			position: absolute;
			top: size(-15);
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__info {
		margin-top: size(45);
	}
	&__title {
		@extend %title;
	}
	&__text {
		margin-top: size(18);
	}
	&__link {
		@extend %catalogLink;
		margin-top: size(19);
	}
}

@media screen and(min-width: 960px) {
	.catalog {
		margin-top: size(100);
		&__inner {
			display: flex; 
			justify-content: space-between;
		}
		&__img {
			min-width: size(300); 
			width: size(300);
			height: auto;
			min-height: size(204);
			img {
				width: auto;
				height: 120%;
			}
		}
		&__info {
			width: calc(100% - 20rem);
			margin-top: 0;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		&__text {
			margin-bottom: auto;
		}
	}
}

@media screen and(min-width: 1366px) {
	.catalog {
		&__img {
			width: size(544);
			min-height: size(205);
		}
		&__info {
			width: calc(100% - 36.5rem);
		}
	}
}

@media screen and(min-width: 1920px) {
	.catalog {
		margin-top: size(166);
		&__img {
			width: size(744);
			min-height: size(380);
			img {
				width: size(497);
				height: size(473);
			}
		}
		&__info {
			width: calc(100% - 50.875rem);
		}
		&__text {
			margin-top: size(40);
		}
	}
}