.checkbox {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	color: $formColor;
	cursor: pointer;
	letter-spacing: 0.07rem;
	font-size: 11px;
	line-height: 13px;
	&__check {
		display: inline-block;
		min-width: 16px;
		height: 16px;
		margin-right: 10px;
	    border: 1px solid #DADADA;
	    background: #fff;
	    position: relative;
	}
	&__text {
		width: calc(100% - 26px);
	}
	input {
		display: none;
		&:checked ~ .checkbox__check {
			background: $formColor;
			border-color: $formColor;
			&::after {
			    content: '';
			    position: absolute;
			    top: 5px;
			    left: 4px;
			    width: 8px;
			    height: 5px;
			    background: url(../../images/icons/check.svg);
			    background-size: contain;
			    background-repeat: no-repeat;
			}
		}
	}
}

@media screen and(min-width: 1366px) {
	.checkbox {
		font-size: 13px;
		line-height: 17px;
		&__check {
			min-width: 23px;
			height: 23px;
			margin-right: 16px; 
		}
		&__text {
			width: calc(100% - 39px);
		}
		input {
			&:checked ~ .checkbox__check {
				&::after {
				    top: 7px;
				    left: 5px;
				    width: 11px;
				    height: 8px;
				}
			}
		}
	}
}