.checkbox {
	display: inline-flex;
	align-items: center;
	color: $formColor;
	cursor: pointer;
	letter-spacing: 0.07rem;
	font-size: size(11);
	line-height: size(13);
	&__check {
		display: inline-block;
		min-width: size(16);
		height: size(16);
		margin-right: size(10);
	    border: 1px solid #DADADA;
	    background: #fff;
	    position: relative;
	}
	&__text {
		width: calc(100% - 1.5rem);
	}
	input {
		display: none;
		&:checked ~ .checkbox__check {
			background: $formColor;
			border-color: $formColor;
			&::after {
			    content: '';
			    position: absolute;
			    top: size(5);
			    left: size(4);
			    width: size(8);
			    height: size(5);
			    background: url(../../images/icons/check.svg);
			    background-size: contain;
			    background-repeat: no-repeat;
			}
		}
	}
}

@media screen and(min-width: 1366px) {
	.checkbox {
		font-size: size(13);
		line-height: size(17);
		&__check {
			min-width: size(23);
			height: size(23);
			margin-right: size(16); 
		}
		&__text {
			width: calc(100% - 2.438rem);
		}
		input {
			&:checked ~ .checkbox__check {
				&::after {
				    top: size(7);
				    left: size(5);
				    width: size(11);
				    height: size(8);
				}
			}
		}
	}
}