.choose {
	color: $formColor;
	font-weight: 350;
	letter-spacing: 0.07rem;
	&__manage {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		font-weight: 350;
		font-size: size(10);
		line-height: size(13);
	}
	&__listing-btn {
		width: 50%;
		padding: size(9) size(6);
		border: size(2) solid #DADADA;
		display: none;
		&.active {
			border: size(2) solid #000;
		}
	}
	&__map {
		padding: size(9) size(6) size(9) size(27);
		margin-right: size(7);
		border: 1px solid #E6E6E6;
		letter-spacing: 0.1rem;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: size(6);
			top: size(7);
			width: size(15);
			height: size(15);
			background: url('../../images/icons/choose-map.svg');
			background-repeat: no-repeat;
		}
		&-dekstop {
			display: none;
		}
	}
	&__parameter {
		padding: size(10) size(11) size(10) size(34);
		margin-right: size(7);
		font-weight: 400;
		letter-spacing: 0.05rem;
		color: #FFFFFF;
		background: $brown;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: size(10);
			left: size(10);
			width: size(15);
			height: size(14);
			background: url('../../images/icons/choose-parameter.svg');
			background-repeat: no-repeat;
		}
	}
	&__reset {
		width: size(34);
		height: size(33);
		border: 1px solid #E6E6E6;
		position: relative;
		display: none;
		&.active {
			display: block;
		}
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: size(17);
			height: size(1);
			background: #000;
		}
		&::before {
			transform: rotate(45deg);
			left: size(8);
		}
		&::after {
			transform: rotate(-45deg);
			left: size(8);
		}
	}
	&__list {
		width: size(255);
		height: 100%;
		padding: size(18) size(16) size(20) size(19);  
		color: $formColor;
		background: #fff;
		position: fixed;
		overflow-y: scroll;
		top: 0;
		right: -100%;
		z-index: 300;
		transition: $transition;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
		&::-webkit-scrollbar { 
			width: 0; 
			height: 0; 
			}
		&.visible {
			right: 0;
		}
	}
	&__title {
		font-weight: 500;
		font-size: size(11);
		line-height: size(13);
		letter-spacing: 0.1rem; 
		color: $formColor;
	}
	&__price {
		&-header {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			font-size: size(11);
			line-height: size(13);
			letter-spacing: 0.1rem;
		}
		&-list {
			margin-left: size(35);
		}
		&-currency {
			margin-right: size(10);
			&.active {
				font-weight: 400;
			}
		}
		&-range {
			margin-top: size(15);
		}
	}
	&__bedroom {
		margin-top: size(30);
		&-inner {
			margin-top: size(10);
			display: flex;
			flex-wrap: wrap;
		}
		input {
			display: none;
			&:checked ~ .choose__bedroom-radio {
				background: $formColor;
				color: #fff;
			}
		}
		label {
			cursor: pointer;
			margin-right: size(7);
		}
		&-radio {
			display: inline-block;
			width: size(33);
			height: size(33);
			border: size(1) solid #DADADA;
			background: #fff;
			font-weight: 350;
			font-size: size(11);
			line-height: size(33);
			text-align: center;
		}
	}
	&__style {
		margin-top: size(15);
		font-size: size(11);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&-label {
			margin-bottom: size(10);
		}
	}
	&__size {
		margin-top: size(30);
		&-range {
			margin-top: size(15);
		}
	}
	&__terrace {
		margin-top: size(30);
		&-range {
			margin-top: size(15);
		}
		&-without {
			margin-top: size(30);
		}
	}
	&__about {
		margin-top: size(30);
		font-size: size(10);
		line-height: size(13);
		letter-spacing: 0.07rem;
		&-inner {
			margin-bottom: size(10);
		}
		&-list {
			height: 0;
			overflow: hidden;
			transition: $transition;
			&.visible {
				padding: size(10) 0;
				height: auto;
			}
		}
		&-item {
			margin-bottom: size(10);
			line-height: size(10);
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-num {
			font-size: size(10);
			margin-left: size(5);
			color: $formColor;
		}
		&-btn {
			display: block;
			border: size(1) solid #DADADA;
			background: #fff;
			padding: size(9) size(18) size(9) size(12);
			position: relative;
			&::after {
				content: '';
				position: absolute;
				width: size(8);
				height: size(12);
				top: size(10);
				right: size(17);
				background: url('../../images/icons/arrow-down.svg');
				background-size: contain;
			}
		}
		&-text {
			font-size: size(10);
			line-height: size(13);
		}
	}
	&__reset-btn {
		display: block;
		width: 100%;
		margin-top: size(20);
		padding: size(8);
		font-size: size(11);
		background: #FFFFFF;
		border: size(2) solid #636363;
	}
}

@media screen and(min-width: 700px) {
	.choose {
		&__listing-btn {
			display: block;
			text-align: center;
		}
		&__map {
			width: 50%;
			padding: size(9) size(6);
			margin-right: 0;
			text-align: center;
			border-width: size(2);
			&::after {
				display: none;
			}
			&.active {
				background: #fff;
				color: inherit;
				border: size(2) solid #000;
			}
		}
		&__parameter,
		&__reset {
			display: none;
		}
		&__manage {
			padding: 0 size(15);
		}
		&__list {
			width: 100%;
			height: 100%;
			padding: size(18) size(15) size(20) size(15);
			position: static;
		}
	}
}

@media screen and(min-width: 1366px) {
	.choose {
		&__manage {
			padding: 0;
			font-size: size(14);
			line-height: size(18);
		}
		&__listing-btn,
		&__map {
			padding: size(14) size(6);
			letter-spacing: 0.09rem;
			&-tel {
				display: none;
			}
			&-dekstop {
				display: block;
			}
		}
		&__title {
			font-size: size(16);
			line-height: size(21);
		}
		&__price {
			padding-top: size(50);
			&-header {
				font-size: size(16);
				line-height: size(21);
			}
			&-range {
				margin-top: size(20);
			}
		}
		&__bedroom {
			margin-top: size(50);
			&-radio {
				width: size(48);
				height: size(48);
				font-size: size(14);
				line-height: size(48);
			}
			&-inner {
				margin-top: size(15);
			}
		}
		&__style {
			margin-top: size(50);
			font-size: size(13);
			line-height: size(17);
		}
		&__size {
			margin-top: size(50);
		}
		&__about {
			margin-top: size(40);
			letter-spacing: 0.07rem;
			font-size: size(14);
			line-height: size(18);
			&-text {
				font-size: size(13);
			}
			&-num {
				font-size: size(13);
			}
			&-btn {
				padding: size(15) size(35) size(15) size(27);
				&::after {
					width: size(12);
					height: size(17);
					top: size(15);
					right: size(20);
				}
			}
		}
		&__reset-btn {
			padding: size(13) size(10);
			letter-spacing: 0.07rem;
			font-size: size(15);
			line-height: size(19);
		}
		&__terrace {
			&-range {
				margin-top: size(25);
			}
			&-without {
				margin-top: size(40);
				letter-spacing: 0.07rem;
			}
		}
	}
}