.explain {
	letter-spacing: 0.09rem; 
	&__title {
		@extend %title;
		margin-bottom: size(18);
	}
	&__present {
		margin-top: size(25);
	}
	&__img {
		img {
			display: block;
			width: 100%;
			min-width: size(300);
			max-width: size(865);
			min-height: size(104);
			height: auto;
		}
	}
	&__link {
		@extend %catalogLink;
		margin-top: size(16);
	}
}

@media screen and(min-width: 960px) {
	.explain {
		&__inner {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__info {
			width: calc(100% - 30rem);
			display: flex;
			flex-direction: column;
			.attention {
				margin-top: auto;
			}
		}
		&__present {
			margin-top: 0; 
			width: size(460);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		&__img {
			margin-bottom: auto;
		}
	}
}

@media screen and(min-width: 1366px) {
	.explain {
		&__present {
			width: size(600);
		}
		&__info {
			width: calc(100% - 40rem);
		}
	}
}

@media screen and(min-width: 1920px) {
	.explain {
		&__title {
			margin-bottom: size(42);
		}
		&__img {
			margin-top: size(30);
		}
		&__present {
			width: size(865);
		}
		&__info {
			width: calc(100% - 57.813rem);
			p {
				width: size(744);
				letter-spacing: 0.1rem;
				margin-bottom: size(24);
			}
			.attention {
				margin-top: size(35);
			}
		}
	}
}