.features {
	font-weight: 300;
	font-size: size(11);
	line-height: size(14);
	&__list {
		padding-left: size(11);
		display: flex;
		letter-spacing: 0.07rem;
		font-weight: 350;
		overflow-x: scroll;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
		&::-webkit-scrollbar { 
			width: 0; 
			height: 0;  
		}
		li {
			min-width: size(251);
			padding-right: size(10);
			outline: none;
		}
	}
	&__title {
		margin-bottom: size(13);
		padding-bottom: size(7);
		font-size: size(12);
		line-height: size(15);
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: size(36);
			height: size(2);
			background: #000;
		}
	}
}

@media screen and(min-width: 1366px) {
	.features {
		padding-right: size(75);
		&__title {
			font-size: size(14);
			margin-bottom: size(20);
			&::after {
				width: 50px;
			}
		}
		&__list {
			padding: 0;
			font-size: size(14);
			letter-spacing: 0.1rem; 
			li {
				min-width: size(283);
			}
			p {
				margin-top: auto;
			}
		}
	}
}

@media screen and(min-width: 1920px) {
	.features {
		font-size: size(16);
		line-height: size(21);
		&__title {
			font-size: size(18);
			line-height: size(23);
		}
		&__list {
			overflow-x: visible; 
			flex-wrap: wrap;
			justify-content: space-between;
			li {
				width: auto;
			}
			p {
				width: size(280);
				font-size: size(16);
				line-height: size(21);
			}
		}
	}
}