.flat {
	&__title {
		margin-top: size(10);
		padding: 0 size(10);
	}
	&__list {
		margin-top: size(17);
		display: flex;
		&-dekstop {
			display: none;
		}
	}
	&__item {
		width: size(299);
		height: size(211);
		overflow: hidden;
		img {
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
	&__kind {
		padding: size(13) size(10);
		display: flex;
		font-weight: 350;
		font-size: size(8);
		line-height: size(11);
		letter-spacing: 0.07rem;
		overflow-x: scroll;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
		&::-webkit-scrollbar { 
			width: 0; 
			height: 0; 
		}
		&-item {
			margin-right: size(5);
			a {
				display: inline-block;
				padding: size(5) size(14);
				border: size(1) solid #E6E6E6;
			}
		}
	}
	&__right {
		margin-top: size(10);
	}
	&__info {
		padding: 0 size(10);
		&-title {
			font-weight: 700;
			font-size: size(16);
			line-height: size(21);
			letter-spacing: 0.07rem;
		}
		&-text {
			margin-top: size(10);
			font-weight: 300;
			font-size: size(11);
			line-height: size(13);
			letter-spacing: 0.07rem;
		}
	}
	&__page {
		margin-top: size(40);
		.mansion__header {
			margin-top: size(25);
			margin-bottom: size(10);
		}
	}
	.order__list {
		&::before {
			display: none;
		}
	}
	&__present {
		display: none;
	}
}

@media screen and(min-width: 700px) {
	.flat {
		&__page {
			width: 100%;
			.mansion {
				&__house {
					display: flex;
				}
				&__img {
					min-width: size(430);
					width: size(430);
				}
				&__info {
					min-height: size(307);
					width: calc(100% - 26.875rem);
				}
			}
		}
	}
}

@media screen and(min-width: 1366px) {
	.flat {
		margin-top: size(15); 
		padding-right: size(75);
		&__inner {
			margin-top: size(26);
		}
		&__title {
			padding: 0;
		}
		&__kind {
			padding: 0;
			padding-top: size(10);	
			padding-bottom: size(17);		
			font-size: size(12);
		    line-height: size(15);
		    letter-spacing: 0.1rem;
		    font-weight: 400;
		    flex-wrap: wrap;
		    &-item {
		    	margin-right: size(10);
		    	a {
		    		padding: size(7) size(18);
    				border-width: size(2);
		    	}
		    }
		}
		&__info {
			padding: 0;
			&-title {
				margin-top: size(25);
				font-weight: 500;
				font-size: size(30);
				line-height: size(39);
				letter-spacing: 0.2rem;
			}
			&-text {
			    font-size: size(14);
				line-height: size(20);
			}
		}
		&__show {
			margin-top: size(25);
		}
		&__list {
			display: none;
			&-wrapper {
				position: relative;
				max-width: size(1100);
			}
			&-thumbs {
				position: absolute;
				bottom: size(20);
				left: size(20);
			}
			&-dekstop {
				display: block;
				max-width: size(1100);
			}
		}
		&__item {
			width: 100%;
			max-width: size(1100);
			height: auto;
			img {
				max-width: size(1100);
			}
			&-thumbs {
				width: size(99);
				border: size(2) solid #fff;
				cursor: pointer;
				&.swiper-slide {
					opacity: 0.5;
				}
				&.swiper-slide-thumb-active {
					opacity: 1;
				}
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		&__inner {
			display: flex;
			justify-content: space-between;
		}
		&__right {
			width: calc(100% - 31.25rem);
		}
		&__page {
			margin-top: size(55);
			padding-right: 0;
			.mansion {
				&__header {
					margin-top: size(35);
				}
				&__house {
					flex-direction: column;
				}
				&__img {
					width: 100%;
					max-width: 100%;
				}
				&__info {
					padding: size(45) size(26) size(32) size(43); 
					width: 100%;
				}
				&__link {
					display: none;
				}
			}
			.sec-title {
				font-size: size(30);
				line-height: size(39);
				letter-spacing: 0.17rem;
			}
		}
		&__present {
			margin-left: size(10);
			padding: size(20) size(40) size(40) size(55);
			display: block; 
			margin-top: size(40);
			.order__address {
				margin-bottom: size(15);
				font-size: size(18);
				letter-spacing: 0.12rem;
			}
		}
		&__order {
			&-list {
				padding-left: size(10);
				padding-top: 0;
			}
		}
	}
}

@media screen and(min-width: 1920px) {
	.flat {
		&__right {
			width: calc(100% - 36.25rem);
		}
		&__info {
			&-text {
				margin-top: size(20);
				font-weight: 350;
				font-size: size(17);
				line-height: size(27);
				letter-spacing: 0.13rem;
			}
		}
		&__page {
			.mansion {
				&__house {
					flex-direction: row;
					align-items: flex-start;
				}
				&__img {
					min-width: size(601);
					width: size(601);
					height: size(430);
				}
				&__info {
					width: calc(100% - 37.563rem);
					min-height: size(430);
					height: auto;
				}
			}
		}
	}
}