.gallery {
	margin-top: size(10);
	&__title {
		padding: 0 size(10);
	}
	&__list {
		margin-top: size(15);
	}
	&__item {
		width: size(306);
		height: size(124);
		overflow: hidden;
	}
	&__img {
		&-tel {
			width: size(306);
			height: auto;
		}
		&-dekstop {
			display: none;
		}
	}
}

@media screen and(min-width: 1366px) {
	.gallery {
		margin-top: size(15);
		&__title {
			padding: 0;
		}
		&__list {
			margin-top: size(45);
		}
		&__item {
			width: size(1000);
			height: auto;
		}
		&__img {
			&-tel {
				display: none;
			}
			&-dekstop {
				display: block;
				width: size(1000);
				height: auto; 
				img {
					width: size(1000);
					height: auto; 
				}
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.gallery {
		&__item {
			width: size(1205);
			height: size(678);
		}
		&__img {
			width: size(1205);
			height: size(678);
			&-dekstop {
				img {
					width: size(1205);
					height: auto;
				}
			}
		}
	}
}