.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 150;
	background: #fff; 
	box-shadow: 0px 0px size(20) rgba(0, 0, 0, 0.1);
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center; 
		flex-wrap: wrap;
	}
	&__logo {
		font-size: size(13);
		line-height: size(16);
		color: #AFAFAF;
		font-weight: 350;
		&-penthouse {
			display: inline-block;
			margin-top: size(1);
			font-weight: bold;
			font-size: size(16);
			line-height: size(18);
			color: #000;
			text-transform: uppercase;
		}
	}
	&__search {
		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: size(40);
			height: size(40);
			cursor: pointer;
		}
		&-input {
			width: calc(100% - 5rem);
			padding-left: size(13);
			padding-right: size(13);
			font-size: size(11);
			line-height: size(14);
			letter-spacing: 0.1rem;
			font-weight: 300;
			outline: none;
			border: none;
			&::placeholder {
				letter-spacing: 0.1rem;
			}
		}
		&-inner {
			width: 100%;
			display: flex;
			align-items: center;
			position: absolute;
			top: -110%;
			right: 0;
			z-index: 10;
			background: #fff;
			transition: $transition; 
			&.active {
				top: 0;
			}
		}
		&-delete {
			display: inline-block;
			width: size(20);
			height: size(14);
			margin-left: auto;
			img {
				display: block;
			}
		}
		&-toggle {
			display: block;
			width: size(40);
			height: size(40);
			margin-left: size(9);
			position: relative;
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: size(19);
				right: size(9);
				width: size(21);
				height: size(1);
				background: #000;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
	&__tel {
		display: none;
	}
}

@media screen and(min-width: 1366px) {
	.header {
		padding: size(40) size(75) size(55) 0;
		box-shadow: none;
		position: relative;
		z-index: 0;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: size(75);
			left: 0;
			height: size(10);
			background: #EFEFEF;
		}
		&__logo {
			font-size: size(24);
			line-height: size(39);
			&-penthouse {
				font-size: size(30);
			}
		}
		&__manage {
			display: flex;
			flex-wrap: wrap;
			max-width: size(675);
		}
		&__search {
			display: flex;
			align-items: center;
			border-bottom: size(1) solid #E7E7E7;
			width: size(438);
			padding-bottom: size(13);
			&-inner {
				position: static;
				width: calc(100% - 2.938rem);
			}
			&-input {
				display: block;
				width: 100%;
				font-weight: 350;
				font-size: size(16);
			}
			&-delete,
			&-toggle {
				display: none;
			}
			&-icon {
				width: auto;
				height: auto;  
				margin-right: size(30);
			}
		}
		&__tel {
			display: block;
			margin-left: size(56);
		}
	}
}

