.house {
	&__header {
		padding-left: 0.625rem;
	}
	&__chapter {
		font-weight: bold;
		font-size: 1rem;
		line-height: 1.313rem; 
		letter-spacing: 0.1rem; 
	}
	&__all {
		margin-top: 0.725rem;
		padding-right: 1.938rem;
		display: inline-block;
		font-weight: 350;
		font-size: 0.75rem;
		line-height: 0.938rem;
		letter-spacing: 0.07rem;  
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			right: 1.938rem;
			bottom: 0.125rem;
			height: 0.063rem;
			background: #000;
		}
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 0.125rem;
			background: url('../../images/icons/swiper-right.svg');
			width: 1.063rem;
			height: 0.688rem;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	&__list {
		margin-top: 1.1rem;
		padding-left: 0.625rem;
		display: flex;
	}
	&__img {
		display: flex;
		max-height: 164.71px;
		overflow: hidden;
		justify-content: center;
		align-items: center;
		img {
			width: 100%;  
			height: 100%;
		}
	}
	&__item {
		width: 13rem;
		margin-right: 0.125rem;
		outline: none;
	}
	&__info {
		min-height: 97.47px;
		padding: 0.893rem 1.188rem 0.6rem 0.625rem;
		letter-spacing: 0.06rem;
		background: #F1F1F1;
		display: flex;
		flex-direction: column;
		box-sizing: border-box; 
	}
	&__title {
		font-weight: bold;
		font-size: 0.625rem;
		line-height: 0.75rem;
		text-transform: uppercase;
		margin-bottom: 1.25rem;
	}
	&__about {
		margin-top: auto;
	}
	&__area {
		font-weight: 350;
		font-size: 0.625rem;
		line-height: 0.813rem;
		color: #4D4D4D;
	}
	&__price {
		margin-top: 0.1rem;
		font-weight: bold;
		font-size: 0.75rem;
		line-height: 0.938rem;
	}
}

@media screen and(min-width: 768px) {
	.house {
		&__item {
			width: 23.125rem;
		}
		&__img {
			max-height: 293px;
		}
		&__title {
			br {
				display: none;
			}
		}
	}
}

@media screen and(min-width: 960px) {
	.house {
		&__header {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
		&__all {
			margin-top: 0;
			margin-left: 50px;
		}
	}
}

@media screen and(min-width: 1366px) {
	.house {
		&__chapter {
			font-size: 24px;
			line-height: 120%;
		}
		&__all {
			font-size: 14px;
		}
		&__header {
			padding: 0;
		}
		&__list {
			padding: 0;
		}
		&__info {
			min-height: 177px;
			padding: 27px;
		}
		&__title {
			font-size: 12px;
			line-height: 17px;
		}
		&__area {
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 0.1rem;
		}
		&__price {
			font-size: 20px;
			line-height: 26px;
			letter-spacing: 0.15rem;
		}
	}
}

@media screen and(min-width: 1920px) {
	.house {
		margin-top: 140px;
		&__chapter {
			font-size: 30px;
			line-height: 39px; 
			letter-spacing: 0.18rem;
		}
		&__all { 
			font-size: 16px;
			line-height: 21px; 
			margin-left: 85px;
			padding-right: 40px;
			letter-spacing: 0.1rem;
			&::before {
				right: 40px;
			}
			&::after {
				top: 5px;
			}
		}
		&__list {
			margin-top: 50px;
		}
		&.fireplace {
			margin-top: 238px;
		}
		&.twostorey {
			margin-top: 160px;
		}
	}
}