.main-title {
	font-weight: bold;
	font-size: size(16.7849);
	line-height: size(22);
	letter-spacing: 0.1rem;
	color: #000000;
}

@media screen and(min-width: 1366px) {
	.main-title {
		font-size: size(50);
		line-height: size(64);
		letter-spacing: 0.31rem;
	}
}