.main-form {
	padding: size(25) size(20);
	background: #FFFFFF;
	border: size(1) solid #E2E2E2;
	font-weight: 300;
	font-size: size(12);
	line-height: size(15);
	&__title {
		font-weight: bold;
		font-size: size(14);
		line-height: size(18);
		letter-spacing: 0.1rem;
		&--modal {
			text-transform: uppercase;
		}
	}
	&__inner {
		margin-top: size(15);
		display: flex;
		flex-direction: column;
	}
	&__input {
		margin-bottom: size(9);
		padding: size(15) size(12) size(15) size(18);
		background: #F7F7F7;
		border: none;
		outline: none;
		letter-spacing: 0.1rem;
		&::placeholder {
			font-weight: 300;
			font-size: size(12);
			line-height: size(15);
		}
	}
	&__textarea {
		margin-top: size(8);
		padding: size(16) size(14) size(16) size(18);
		height: size(126);
		background: #F7F7F7;
		outline: none;
		border: none;
		resize: none;
		&::placeholder {
			font-weight: 300;
			font-size: size(11);
			line-height: size(14);
			letter-spacing: 0.1rem;
			color: #898989;
		}
	}
	&__btn {
		@extend %brownLink;
		min-width: auto;
		margin-top: size(16);
		font-weight: 500;
		font-size: size(13);
		line-height: size(17);
		letter-spacing: 0.1rem;
	}
	&__agree {
		margin-top: size(16);
		&-label {
			display: inline-flex;
			flex-wrap: wrap;
			align-items: center;
			cursor: pointer;
			input {
				display: none;
				&:checked ~ .main-form__agree-check {
					background: $formColor;
					&::after {
						content: '';
						position: absolute;
						top: size(7);
						left: size(5);
						width: size(11);
						height: size(8);
						background: url('../../images/icons/check.svg');
					}
				}
			}
		}
		&-check {
			width: size(23);
			height: size(23);
			margin-right: size(12);
			border: size(1) solid #DADADA;
			position: relative;
		}
		&-text {
			display: block;
			margin-top: size(3);
			width: calc(100% - 2.188rem);
			font-weight: 350;
			font-size: size(10);
			line-height: size(13);
			letter-spacing: 0.1rem;
			color: #000000;
		}
	}
	&__close {
		display: block;
	    width: size(34);
	    height: size(33);
	    margin-left: size(9);
	    position: absolute;
	    right: size(7);
	    top: size(7);
	    background: #fff;
	    outline: none;
	    &::before,
	    &::after {
	    	content: '';
	    	position: absolute;
	    	width: size(17);
	    	height: size(1);
	    	background: #000;
	    }
	    &::before {
	    	transform: rotate(45deg);
	    	left: size(9);
	    }
	    &::after {
	    	transform: rotate(-45deg);
	    	left: size(9); 
	    }
	}
	&__wrapper {
		position: relative;
	}
	&--modal {
		width: calc(100% - 1.25rem);
		max-width: size(500);
		padding-top: size(16);
		background: #fff;
		border: none;
		position: fixed;
		z-index: 300;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
		&__wrapper {
			height: 100%;
			overflow-y: scroll;
			-ms-overflow-style: none;
			overflow: -moz-scrollbars-none;
			&::-webkit-scrollbar { 
				width: 0; 
				height: 0; 
			}
		}
		&.visible {
			display: block;
		}
	}
}

@media screen and(min-width: 1366px) {
	.main-form {
		width: size(500);
		padding: size(56) size(44) size(35);
		border: size(1) solid #000000;
		font-size: size(16);
		line-height: 120%;
		&__title {
			display: none;
		}
		&__inner {
			margin-top: 0;
		}
		&__input {
			padding: size(20) size(23) size(19);
			margin-bottom: size(20);
			&::placeholder {
				font-size: size(16);
			}
		}
		&__textarea {
			padding: size(20) size(23);
			margin-top: 0;
			height: size(160);
			&::placeholder {
				font-size: size(16);
				line-height: size(21);
			}
		}
		&__btn {
			padding: size(18);
			margin-top: size(42);
			font-weight: 500;
			font-size: size(16);
			line-height: size(21);
		}
		&__agree {
			margin-top: size(30);
			&-text {
				font-weight: 350;
				font-size: size(13);
				line-height: size(17);
			}
		}
		&--modal {
			border: none;
		}
	}
}

@media screen and(min-width: 1920px) {
	.main-form {
		&__close {
			top: size(-50);  
			right: size(5);
			width: size(39);
			height: size(39);
			margin-left: 0;
			background: transparent;
			&::before,
			&::after {
				right: size(0);
				top: size(15);
				width: size(39);
				height: size(2);
				background: #fff; 
			}
		}
	}
}