.order {
	padding: 0 size(10);
	font-size: size(10);
	line-height: size(20);
	letter-spacing: 0.07rem;
	&__show {
		padding: size(9) size(16) size(18);
		background: #F9F9F9;;
	}
	&__address {
		font-size: size(11);
		font-weight: 500;
	}
	&__link {
		@extend %catalogLink;
		margin-top: size(10);
		font-size: size(11);
		line-height: size(14);
		padding: size(7);
	}
	&__info {
		margin-top: size(15);
		&-link {
			display: none;
			margin-top: size(40);
			font-weight: 500;
			font-size: size(17);
			line-height: 110%;
			position: relative;
			&:hover::after,
			&:focus::after {
				display: none;
			}
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: size(1);
				background: #000;
			}
		}
	}
	&__inspection {
		@extend %brownLink;
	}
	&__list {
		margin-top: size(22);
		position: relative;
	}
	&__item {
		display: flex;
		flex-wrap: wrap;
	}
	&__class {
		width: size(130);
		font-weight: 300;
		overflow: hidden;
		white-space: nowrap;
	}
	&__type {
		font-weight: 500;
	}
	&__present {
		margin-bottom: size(14);
		padding: size(23);
		padding-bottom: size(26);
		background: #fff;
		border: size(1) solid #000000;
		box-shadow: 0 size(3) size(9) rgba(0, 0, 0, 0.15);
		&-size {
			font-size: size(12);
			line-height: size(15);
			letter-spacing: 0.07rem;
			font-weight: 400;
		}
		&-price {
			margin-top: size(9);
			font-weight: 700;
			font-size: size(26);
			line-height: size(34);
			letter-spacing: 0.1rem;
		}
		&-metre {
			margin-top: size(12);
			font-weight: 350;
			font-size: size(11);
			line-height: size(9);
			color: #8D8D8D;
			letter-spacing: 0.1rem;
		}
		&-inspection {
			@extend %brownLink;
			margin-top: size(18);
		}
	}
}

@media screen and(min-width: 1366px) {
	.order {
		width: size(450);
		font-size: size(14);
		line-height: size(28);
		padding: 0;
		&__address {
			font-size: size(14);
			line-height: size(32);
		}
		&__link {
			padding: size(15) size(10);
			font-size: size(14);
			line-height: size(22);
		}
		&__inspection {
			font-size: size(14);
			line-height: size(22);
		}
		&__list {
			padding-top: size(55);
			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				height: size(10);
				background: #EFEFEF;;
			}
		}
		&__class {
			width: size(200);
		}
		&__present {
			&-size {
				font-size: size(14);
				line-height: 120%;
			}
			&-metre {
				font-size: size(13);
				line-height: 120%;
			}
		}
		&__info {
			&-link {
				margin-left: size(10);
				display: inline-block;
			}
		}
		&__present {
			&-inspection {
				padding: size(12);
				margin-top: size(34);
				font-size: size(18);
				line-height: size(24);
				letter-spacing: 0.1em;
			}
		}
	}
}

@media screen and(min-width: 1920px) {
	.order {
		width: size(480);
		font-size: size(15);
		line-height: size(40);
		letter-spacing: 0.1rem;
		&__show {
			padding: size(25) size(46) size(39);
		}
		&__address {
			font-size: size(16);
			line-height: size(40);
		}
		&__link {
			font-size: size(15);
			line-height: size(19);
		}
		&__info {
			margin-top: size(25);
		}
		&__inspection {
			padding: size(12);
			font-size: size(20);
			line-height: size(26);
		}
		&__list {
			margin-top: size(35);
		}
		&__class {
			width: size(235);
		}
		&__present {
			padding: size(40) size(45) size(52) size(46);
			border-width: size(2);
			letter-spacing: 0.1rem;
			&-size {
				font-size: size(18);
				line-height: size(23);
				letter-spacing: 0.12rem;
			}
			&-price {
				margin-top: size(34);
				font-size: size(38);
				line-height: size(49);
				letter-spacing: 0.25rem;
			}
			&-metre {
				margin-top: size(5);
				font-size: size(14);
				line-height: size(15);
			}
			&-inspection {
				font-size: size(20);
				line-height: size(26);
				letter-spacing: 0.1em;
			}
		}
	}
}