.plan {
	margin-top: size(20);  
	padding: 0 size(10);
	&__img {
		width: 100%;
		max-width: size(693);
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__info {
		margin-top: size(18);
		letter-spacing: 0.07rem;
		font-size: size(12);
		line-height: size(15);
		&-about {
			font-weight: 300;
		}
		&-size {
			margin-top: size(8);
			font-weight: 500;
		}
		&-download {
			@extend %catalogLink;
			margin-top: size(19);
		}
		&-order {
			@extend %brownLink;
			margin-top: size(10);
		}
		&-partner {
			font-weight: 350;
			font-size: size(14);
			text-align: center;
			color: #636363;
			a {
				display: inline-block;
				padding: size(12) 0;
				position: relative;
				&::after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: size(12);
					height: size(1);
					background: #636363;
				}
				&:hover,
				&:focus {
					@extend %hoverBlack;
				}
			}
		}
	}
}

@media screen and(min-width: 1366px) {
	.plan {
		margin-top: size(60);
		padding: 0; 
		&__info {
			font-size: size(13);
			line-height: size(17);
		}
	}
}

@media screen and(min-width: 1920px) {
	.plan {
		display: flex;
		flex-wrap: wrap;
		&__info {
			width: calc(100% - 46.625rem);
			max-width: size(354);
			margin-left: size(53);
			margin-top: 0;
			&-about {
				letter-spacing: 0.07rem;
			}
			&-size {
				margin-top: size(20);
				font-size: size(15);
				line-height: size(19);
				letter-spacing: 0.1rem;
			}
			&-download {
				margin-top: size(30);
			}
			&-order {
				margin-top: size(25);
			}
			&-partner {
				margin-top: size(30);
				letter-spacing: 0.1rem;
			}
		}
	}
}