.pro {
	&__profile {
		display: flex;
		justify-content: center;
	}
	&__img {
		width: 50%;
		max-width: size(300);
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
	&__info {
		padding: size(14) size(10) size(19) size(13);
		width: 50%;
		max-width: size(300);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: #F1F1F1;
		letter-spacing: 0.07rem;
	}
	&__name {
		font-size: size(11);
		line-height: size(14);
		color: #5F5F5F;
		span {
			margin-bottom: size(3);
			display: block;
			font-size: size(14);
			line-height: size(18);
			font-weight: 700;
			color: #000;
			text-transform: uppercase; 
		}
	}
	&__tel {
		font-weight: 300;
		font-size: size(14);
		line-height: size(18);
		text-transform: uppercase;
		letter-spacing: 0;  
	}
	&__email {
		font-weight: 350;
		font-size: size(11);
		line-height: size(20);
		a {
			font-weight: bold;
		}
	}
	&__about {
		margin-top: size(22);
		letter-spacing: 0.1rem;
	}
	&__title {
		@extend %title;
	}
	&__text {
		margin-top: size(18);
	}
	&__link {
		@extend %brownLink;
		margin-top: size(23); 
	}
}

@media screen and(min-width: 960px) {
	.pro {
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
		&__profile {
			width: size(380);
		}
		&__about {
			margin-top: 0;
			width: calc(100% - 25rem);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		&__text {
			margin-bottom: auto;
		}
	}
}

@media screen and(min-width: 1366px) {
	.pro {
		&__profile {
			width: size(500);
		}
		&__about {
			width: calc(100% - 33.75rem);
			min-height: size(325); 
		}
		&__info {
			padding: size(25);  
		}
		&__name {
			font-size: size(14);
			line-height: 120%;
			span {
				font-size: size(20);
				line-height: 120%;
			}
		}
		&__tel {
			font-size: size(24);
			margin-bottom: size(6);
		}
		&__email {
			font-size: size(13);
			line-height: size(20);
		}
	}
}

@media screen and(min-width: 1920px) {
	.pro {
		&__profile {
			width: size(744);
		}
		&__img {
			max-width: size(370);
		}
		&__info {
			max-width: size(374);
			padding: size(29) size(40) size(40); 
		}
		&__about {
			width: calc(100% - 50.875rem);
			min-height: size(482);
		}
		&__text {
			margin-top: size(47);
			letter-spacing: 0.1rem;
			p {
				margin-bottom: size(20);
			}
			p.attention {
				margin-top: size(45);
				font-weight: 350;
			}
		}
		&__name {
			font-size: size(16);
			line-height: size(21);
			span {
				font-size: size(26);
				line-height: size(34);
				letter-spacing: 0.15rem;
			}
		}
		&__tel {
			font-size: size(32);
			line-height: size(41);
		}
	}
}