.profile {
	padding-left: size(10);
	display: none;
	width: size(338);
	margin-top: size(40);
	line-height: 120%;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: size(95);
		z-index: -1;
		right: size(-48);
		left: size(-165);
		height: size(504);
		background: #F0F0F0; 

	}
	&__img {
		img {
			display: block;	
		}
	}
	&__title {
		margin-top: size(15);
		font-weight: 400;
		font-size: size(22);
		line-height: size(28);
		letter-spacing: 0.15rem;
		color: #5F5F5F;
		span {
			display: block;
			font-weight: 700;
			font-size: size(26);
			line-height: size(34);
			letter-spacing: 0.15rem;
			color: #000;
			text-transform: uppercase;
		}
	}
	&__about {
		margin-top: size(12);
		font-weight: 400;
		font-size: size(12);
		line-height: size(15);
		letter-spacing: 0.07rem;
		color: #5F5F5F;
	}
	&__order {
		@extend %brownLink;
		margin-top: size(24);
		padding: size(12);
		font-size: size(18);
		line-height: size(24);
		letter-spacing: 0.15rem;
	}
	&__phone {
		margin-top: size(83);
		font-weight: 300;
		font-size: size(28);
		line-height: size(36);
		text-transform: uppercase;
		letter-spacing: 0.01rem;
		transition: $transition;
		&:hover,
		&:focus {
			transform: scale(1.1);
		}
	}
	&__email {
		margin-top: size(7);
		font-weight: 400;
		font-size: size(14);
		line-height: size(18);
		color: #797979;
		letter-spacing: 0rem;
		a {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: size(-1);
				height: size(1);
				background: #797979;
			}
			&:hover,
			&:focus {
				@extend %hoverBlack;
			}
		}
	}
}

@media screen and(min-width: 1366px) {
	.profile {
		display: block;
	}
}

@media screen and(min-width: 1920px) {
	.profile {
		&__order {
			font-size: size(20);
			line-height: size(26);
		}
	}
}