.range {
	width: 100%;
	height: size(5);
	border: size(1) solid #DADADA;
	border-radius: 0;
	background: #fff;
	&.ui-slider {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.ui-slider-handle {
		display: inline-block;
		top: size(-13);
		width: size(13);
		height: size(13);
		position: relative;
		z-index: 3;
		background: #fff;
		border: size(2) solid $formColor;
		cursor: pointer;
		outline: none;
		border-radius: 0;
	}
	.ui-widget-header {
		height: size(5);
		position: relative;
		top: size(-1);
		background: $formColor;
		border: size(1) solid $formColor;
		border-radius: 0;
	}
	&__value {
		&-wrapper {
			margin-top: size(14);
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
		width: 50%;
		border: none;
		font-weight: 350;
		font-size: size(11);
		&:nth-child(2) {
			text-align: right;
		}
	}
}

@media screen and(min-width: 1366px) {
	.range {
		height: size(7);
		&__value {
			font-size: size(13);
			line-height: size(17);
		}
		&.ui-slider {
			width: 100%;
		}
		.ui-slider-handle {
			top: size(-13);
			width: size(17);
			height: size(17);
		}
		.ui-widget-header {
			height: size(7);
		}
	}
}