.text {
	font-weight: 350;
	font-size: size(11);
	line-height: size(13);
	letter-spacing: 0.065rem;
	p {
		margin-bottom: size(13);
		&:last-child {
			margin-bottom: 0;
		}
	}
	.attention {
		margin-top: size(18);  
		font-weight: 500;
	}
}

@media screen and(min-width: 1366px) {
	.text {
		font-size: size(14);
		line-height: 120%;
	}
}

@media screen and(min-width: 1920px) {
	.text {
		font-size: size(16);
		line-height: size(22);
		.attention {
			font-size: size(20);
			line-height: size(26);
			letter-spacing: 0.13rem;
		}
	}
}