.villa {
	margin-top: size(46);
	letter-spacing: 0.07rem;
	&__header {
		padding: 0 size(10);
	}
	&__title {
		font-weight: 700;
		font-size: size(16);
		line-height: size(21);
	}
	&__text {
		margin-top: size(12);
		font-weight: 300;
		font-size: size(11);
		line-height: size(13);
	}
	&__list {
		margin-top: size(20);
	}
	&__item {
		width: size(306);
		height: size(124);
		overflow: hidden;
	}
	&__img {
		&-tel {
			display: block;
			width: 100%;
			height: auto;
		}
		&-dekstop {
			display: none;
		}
	}
	&__order {
		&-list {
			padding-top: 0;
			margin-top: size(40);
		}
	}
	&__links {
		margin-top: size(22);
		padding: 0 size(10);
		&-map {
			@extend %catalogLink;
		}
		&-order {
			@extend %brownLink;
			margin-top: size(10);
		}
	}
}

@media screen and(min-width: 1366px) {
	.villa {
		margin-top: size(70);
		&__title {
			font-size: size(30);
    		line-height: 120%;
    		font-weight: 500;
    		letter-spacing: 0.2rem;
		}
		&__text {
			font-size: size(14);
			line-height: size(20);
			font-weight: 350;
		}
		&__header {
			padding: 0;
		}
		&__links {
			padding: 0;
		}
		&__list {
			margin-top: size(50);
		}
		&__item {
			width: calc(50% - 0.625rem);
			height: auto;
		}
		&__img {
			&-tel {
				display: none;
			}
			&-dekstop {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
}

@media screen and(min-width: 1920px) {
	.villa {
		&__text {
			margin-top: size(24);
			font-size: size(17);
			line-height: size(24);
			letter-spacing: 0.13rem;
		}
		&__info {
			margin-top: size(45);
			display: flex;
			flex-wrap: wrap;
		}
		&__links {
			width: size(320);
			margin-top: 0;
			margin-left: size(80);
		}
		&__order {
			&-list {
				margin-top: 0;
			}
		}
	}
}