$brown: #A79078;
$formColor: #636363;
$transition: all .3s ease;
$linkTransition: all .2s ease;

%title {
	font-weight: bold;
	font-size: size(16);
	line-height: 1.313rem;
	@media screen and(min-width: 1366px) {
		font-size: size(30);  
		line-height: 120%;
	}
	@media screen and(min-width: 1920px) {
		font-size: size(40);
		line-height: size(52);
		letter-spacing: 0.25rem;
	}
}

%catalogLink {
	display: block;
	text-align: center;
	font-size: size(13);
	line-height: size(17);
	border: size(1) solid #000000;
	padding: size(10);
	transition: $linkTransition;
	&:hover,
	&:focus {
		color: #fff;
		background: #000;
	}
	&:active {
		opacity: .5;
	}
	@media screen and(min-width: 1366px) {
		padding: size(15);
		min-width: size(314);
		font-size: size(15);
		line-height: size(19);
	}
}

%brownLink {
	display: block;
	padding: size(11);
	font-size: size(13);
	line-height: size(17);
	text-align: center;
	color: #fff;
	transition: $linkTransition;
	background: $brown;
	&:hover,
	&:focus {
		background: #6B5C4D;
	}
	&:active {
		opacity: .5;
	}
	@media screen and(min-width: 1366px) {
		padding: size(15);
		font-size: size(15);
		line-height: size(19);
		min-width: size(320);
	}
}

%hoverBlack {
	transition: $linkTransition;
	color: #000;
}